body{

font-family: "Work Sans", sans-serif;
  }
.container1{
    padding-top: 15%;
    background-image: url("https://elzerowebschool.github.io/HTML_And_CSS_Template_One/images/landing.jpg");    
    background-size: cover;
    background-repeat: no-repeat;
    height: calc(100vh - 64px);
    position: relative;
    
  }
  .container.h1{
    color: #10cab7;
  }
  .container-fluid{
    box-shadow: 0px 10px 10px #f6f6f6;
  }
  .bg-light{
    background-color: #f8f9fa !important;
    background-size: 800px;
}
.full{
  background-color: #adb5bd6a;
  padding: 80px;
}
.caption{
    position: absolute;
    left: 25%;
    width: 50%;
    top: 30%;
text-align: center;
}
